body {
    margin : 0;
}

.look {
    color: whitesmoke;
    background-color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.looks {
    color: whitesmoke;
    background-color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}